.firstPage {
  background-color: #f0eeeb;
}
/*--------------------------------------   Header   -----------------------------------*/
.header-brand {
  width: 120px;
  height: auto;
}

.centered-link {
  position: relative;
  transform: translateX(100px);
}

.container-fluid {
  background-color: #f0eeeb;
}

.navbar {
  background-color: #f0eeeb;
}

@media screen and (max-width: 360px) {
  .butons-container {
    visibility: hidden;
  }

  .navbar-toggler {
    /* It has to be right side*/
    position: absolute;
    top: 10px;
    right: 20px;
  }
}

/*                   First Page Content                  */

.fs-contanier {
  overflow: auto;
  max-height: 100%;
  padding: 3%;
}

.first-section-content {
  display: block;
  overflow: auto;
  padding: 1.5%;
}

.fs-h1 {
  font-size: 3.7rem;
}

.fs-img {
  display: inline-block;
}

.fs-info {
  float: left;
  display: inline;
  width: 45%;
  overflow: hidden;
  margin: 4% 3% 3% auto;
}

.fs-p {
  margin-top: 30px;
  font-size: 1.2rem;
}

.input-text {
  width: 220px;
  height: 40px;
}

.fs-img-container {
  display: block;
  margin-right: 5px;
}

.fs-desktop-img {
  display: none;
  width: 35%;
  height: auto;
  float: right;
  margin-right: 40px;
  margin-top: 30px;
}
.fs-tablet-img {
  width: 100%;
  height: auto;
  display: none;
  margin-right: 5px;
}
.fs-mobile-img {
  width: 100%;
  height: auto;
  display: none;
}

p i {
  margin-right: 10px;
}

@media screen and (max-width: 360px) {
  .fs-mobile-img {
    display: inline-block;
  }
}

@media screen and (max-width: 762px) {
  #flex {
    display: flex;
    flex-direction: column;
  }

  #flex-1 {
    order: 1;
  }

  #flex-2 {
    order: 2;
  }

  .fs-info {
    float: none;
    display: inline;
    width: 100%;
    overflow: hidden;
    margin: 4% 3% 3% auto;
  }

  .input-text {
    width: 55%;
  }

  .fs-tablet-img {
    display: inline-block;
  }
}

@media screen and (min-width: 762px) {
  .fs-desktop-img {
    display: inline-block;
  }
}

.fp-button {
  float: left;
}

.input-text {
  float: left;
  border: none; /* <-- This thing here */
  border: solid 1px #ccc;
  border-radius: 10px;
  margin-right: 10px;
}

/*--------------------------------------  Logo ------------------------- */

.logo-container{
  margin: 10px auto 30px ;
  width: 90%;
  height: 35px ;
  display: flex;
}

.logo-container img{
  
  justify-content: space-evenly;
  height: 100%;
  margin: 20px auto;
  margin-bottom: 100px;
}

@media screen and (max-width: 950px) {
  .ss-logo2{
    display:none;
  }
  .ss-logo4{
    display:none;
  }
}

@media screen and (max-width: 530px) {
  .ss-logo1{
    display:none;
  }
}
