.firstPage {
    background-color:#f0eeeb;
}

/*                      Header                                */
.header-brand{
    width:120px;
    height: auto;
}

.centered-link{
    position: relative;
    transform:translateX(100px); 
}


.container-fluid{
    background-color:#f0eeeb;
}

.navbar{
    background-color:#f0eeeb;
}

@media screen and (max-width: 360px){
    .butons-container{
        visibility: hidden;
    }

    .navbar-toggler{
         /* It has to be right side*/
        position:absolute;
        top:10px;    
        right:20px;
    }
}

/*                   First Page Content                  */

.first-section-content{
    margin : 60px;
}

.fs-info{
    display:inline-block;
    margin: ;

}

.fs-img{
    display:inline-block;
}