.firstPage {
  background-color: #f0eeeb;
}
/*--------------------------------------   Header   -----------------------------------*/
.header-brand {
  width: 120px;
  height: auto;
}

.centered-link {
  position: relative;
  transform: translateX(100px);
}

.container-fluid {
  background-color: #f0eeeb;
}

.navbar {
  background-color: #f0eeeb;
}

@media screen and (max-width: 360px) {
  .butons-container {
    visibility: hidden;
  }

  .navbar-toggler {
    /* It has to be right side*/
    position: absolute;
    top: 10px;
    right: 20px;
  }
}

/*                   First Page Content                  */

.fs-contanier {
  overflow: auto;
  max-height: 100%;
  padding: 3%;
}

.first-section-content {
  display: block;
  overflow: auto;
  padding: 1.5%;
}

.fs-h1 {
  font-size: 3.7rem;
}

.fs-img {
  display: inline-block;
}

.fs-info {
  float: left;
  display: inline;
  width: 45%;
  overflow: hidden;
  margin: 4% 3% 3% auto;
}

.fs-p {
  margin-top: 30px;
  font-size: 1.2rem;
}

.input-text {
  width: 220px;
  height: 40px;
}

.fs-img-container {
  display: block;
  margin-right: 5px;
}

.fs-desktop-img {
  display: none;
  width: 35%;
  height: auto;
  float: right;
  margin-right: 40px;
  margin-top: 30px;
}
.fs-tablet-img {
  width: 100%;
  height: auto;
  display: none;
  margin-right: 5px;
}
.fs-mobile-img {
  width: 100%;
  height: auto;
  display: none;
}

p i {
  margin-right: 10px;
}

@media screen and (max-width: 360px) {
  .fs-mobile-img {
    display: inline-block;
  }
  .fs-h1{
    font-size:2.5rem;
  }
}

@media screen and (max-width: 762px) {
  #flex {
    display: flex;
    flex-direction: column;
  }

  #flex-1 {
    order: 1;
  }

  #flex-2 {
    order: 2;
  }

  .fs-info {
    float: none;
    display: inline;
    width: 100%;
    overflow: hidden;
    margin: 4% 3% 3% auto;
  }

  .input-text {
    width: 55%;
  }

  .fs-tablet-img {
    display: inline-block;
  }

  .fs-mobile-img {
    display: none;
  }

  .fs-h1{
    font-size:3rem;
  }
}

@media screen and (min-width: 762px) {
  .fs-desktop-img {
    display: inline-block;
  }
}

.fp-button {
  float: left;
}

.input-text {
  float: left;
  border: none; /* <-- This thing here */
  border: solid 1px #ccc;
  border-radius: 10px;
  margin-right: 10px;
}

/*--------------------------------------  Logo ------------------------- */

.logo-container {
  margin: 10px auto 30px;
  width: 90%;
  height: 35px;
  display: flex;
}

.logo-container img {
  justify-content: space-evenly;
  height: 100%;
  margin: 20px auto;
  margin-bottom: 100px;
}

@media screen and (max-width: 950px) {
  .ss-logo2 {
    display: none;
  }
  .ss-logo4 {
    display: none;
  }
}

@media screen and (max-width: 530px) {
  .ss-logo1 {
    display: none;
  }
}

/*--------------------------------------  ST(section three) ------------------------- */

.st-container {
  background-color: #f0eeeb;
  width: 80%;
  height: 500px;
  margin-top: 70px;
  transform: translateX(12.5%);
}

.st-text-container {
}

.st-text-container h1 {
  font-size: 2.5rem;
  width: 40%;
  position: absolute;
  margin-top: 100px;
  margin-left: 140px;
}

.st-text-container p {
  width: 40%;
  position: absolute;
  margin-top: 230px;
  margin-left: 140px;
  line-height: 2rem;
}

.st-text-container a {
  width: 40%;
  position: absolute;
  margin-top: 380px;
  margin-left: 140px;
  color: black;
}

.st-text-container a:hover,
a:visited {
  color: black;
}

.st-img-container {
}

@media screen and (max-width: 790px) {
  .st-mob {
    display: none;
  }

  .st-tab {
    display: inline;
    width: 100%;
    margin-top: 400px;
  }

  .st-des {
    display: none;
  }

  .st-container {
    background-color: #f0eeeb;
    width: 80%;
    height: 800px;
    margin-top: 70px;
    transform: translateX(12.5%);
  }

  .st-text-container h1 {
    font-size: 1.7rem;
    width: 70%;
    position: absolute;
    margin-top: 100px;
    margin-left: 15%;
  }

  .st-text-container p {
    width: 70%;
    position: absolute;
    margin-top: 200px;
    margin-left: 15%;
    line-height: 2rem;
  }

  .st-text-container a {
    width: 70%;
    position: absolute;
    margin-top: 360px;
    margin-left: 15%;
    color: black;
  }
}

@media screen and (min-width: 762px) {
  .st-mob {
    display: none;
  }

  .st-tab {
    display: none;
  }

  .st-des {
    display: inline;
    width: 40%;
    float: right;
    overflow: none;
  }
}

@media screen and (max-width: 443px) {
  .st-mob {
    display: inline-block;
    width: 80%;
    margin-top: 310px;
    margin-left: 25px;
  }

  .st-tab {
    display: none;
  }

  .st-des {
    display: none;
  }

  .st-container {
    background-color: #f0eeeb;
    width: 80%;
    height: 600px;
    margin-top: 70px;
    transform: translateX(12.5%);
  }

  .st-text-container h1 {
    font-size: 1.4rem;
    width: 80%;
    position: absolute;
    margin-top: 40px;
    margin-left: 15%;
  }

  .st-text-container p {
    width: 80%;
    position: absolute;
    margin-top: 120px;
    margin-left: 15%;
    line-height: 1.4rem;
  }

  .st-text-container a {
    width: 70%;
    position: absolute;
    margin-top: 300px;
    margin-left: 15%;
    color: black;
  }
}

/*--------------------------------------  SF(section four) ------------------------- */

.sf-img-container{
  width: 45%;
  display: inline-block;
  margin-left: 12%;
  margin-top: 20px;
}

.sf-container{
  width: 100%;
  
}
.sf-img{
  width: 100%;
}

.sf-text-container{
  width: 30%;
  float: right;
  margin-right: 13%;
  margin-top:8%;
  
}

.sf-h1{
  font-size:2.2rem;
}

.sf-a{
  width: 40%;
  position: absolute;
  color: black;
}

.sf-a :hover, .sf-a:visited{
  color: black;
}

@media screen and (max-width: 760px) {
  .sf-img-container{
    order:2;
    width: 100%;
    display: inline-block;
    margin-left: 0px;
    margin-top: 25px;
  }
  
  .sf-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
  }
  .sf-img{
    width: 100%;
  }
  
  .sf-text-container{
    order:1;
    width: 85%;
    float: none;
    margin-right: 0px;
    margin-top:0px;
    margin-left: 10%;
    
  }
  
  .sf-h1{
    font-size:2rem;
  }
  
  .sf-a{
    width: 60%;
    position: absolute;
    color: black;
  }
  
  .sf-a :hover, .sf-a:visited{
    color: black;
  }
}


/*--------------------------------------  footer ------------------------- */

footer{
  background-color:black;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

footer div{
  margin:5%;
}

footer p,li,ul{
  color: white;
}

li a{
  text-decoration:none;
}

footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer a:hover,a:visited{
  color: hsl(60deg 0% 56%);
 
}

.f-sense h1 , .f-sense p{
  color:#fff;
}

.f-sense{
  width:400px;
}