.firstPage {
    background-color:#f0eeeb;
}

/*                      Header                                */
.header-brand{
    width:120px;
    height: auto;
}

.centered-link{
    position: relative;
    transform:translateX(100px); 
}


.container-fluid{
    background-color:#f0eeeb;
}

.navbar{
    background-color:#f0eeeb;
}

@media screen and (max-width: 360px){
    .butons-container{
        visibility: hidden;
    }

    .navbar-toggler{
         /* It has to be right side*/
        position:absolute;
        top:10px;    
        right:20px;
    }
}

/*                   First Page Content                  */

.fs-contanier{
    height: 100%;
    padding : 3%;
}

.first-section-content{
    padding : 1.5%;
   
}

.fs-info{
    margin: 4% 3% 3% auto  ;
    display:inline-block;
    width:40%;

}

.fs-h1{
    font-size:3.75;
}

.fs-img{
    display:inline-block;
}